@using MVCLocalization.Web.Configuration
@using MVCLocalization.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer luhome
@inject IOptions<Keys> keys
@{
    ViewData["Title"] = ViewData["Title"];
}

<h2>@ViewData["Title"]</h2>
<div class="text-center">
    <h6 class="display-4">@luhome["HomePageTitle"]</h6>
    <br />
    <div>
        <b>@luhome["Keys"]</b><br />
        User Name : @keys.Value.UserName
        <a asp-action="sss" asp-controller="Home" ></a>
    </div>
</div>
